.menu {
    gap: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: var(--primary);
    color: var(--text-over-primary);
    transition: all .3s ease-in-out;
    padding: 1.2rem;
    border-radius: .8rem;
}

.menuLink:hover {
    filter: brightness(70%);
}

.menuLink svg {
    width: 2.4rem;
    height: 2.4rem;
}