.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

footer a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-muted);
}

footer a:hover {
    text-decoration: underline;
    font-size: 1.2rem;
    color: var(--text-muted);
}